/* подключение шрифта */
/* &display=swap&subset=cyrillic-ext */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&family=Roboto:wght@400;700;900&display=swap");

/* @font-face {
	font-family: "Helvetica Neue";
	src: url("../HelveticaNeue-CondensedRegular.woff2") format("woff2"),
		url("../HelveticaNeue-CondensedRegular.woff") format("woff");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Helvetica Neue";
	src: url("../HelveticaNeue-Bold.woff2") format("woff2"), url("../HelveticaNeue-Bold.woff") format("woff");
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Helvetica Neue";
	src: url("../HelveticaNeue-CondensedBlack.woff2") format("woff2"),
		url("../HelveticaNeue-CondensedBlack.woff") format("woff");
	font-weight: 900;
	font-style: normal;
	font-display: swap;
} */

/* обнуление */
*,
*::before,
*::after {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	border: 0;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}

ul,
ol,
li {
	text-decoration: none;
	list-style: none;
}

img {
	vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}

html {
	font-size: 16px;
}

body {
	line-height: 1;
	font-family: "Roboto";
}

.wrapper {
	min-height: 100%;
	overflow: hidden;
}

/* ------------------------ */

.main {
	padding: 150px 0px 150px 0px;
}
.page {
	background: url(../img/bg.jpg) center / cover no-repeat;
}
.page__container {
	max-width: 1020px;
	margin: 0 auto;
	padding: 112px 0px 212px 0px;
}
.page__box {
	margin: 0px 0px 79px 0px;
}
.box-page {
	display: inline-block;
}
.box-page__our {
	display: inline-block;
	margin: 0px 105px 0px 0px;
}
.box-page__title {
	font-weight: 700;
	font-size: 12px;
	line-height: 24px;
	letter-spacing: 2.5px;
	text-transform: uppercase;
	color: #ffffff;
	margin: 0px 0px 30px 0px;
	padding: 0px 0px 0px 30px;
	background: url(../img/logo.svg) 0 0 no-repeat;
}
.box-page__subtitle {
	font-weight: 900;
	font-size: 36px;
	line-height: 42px;
	color: #ffffff;
	max-width: 411px;
}
.page__dog {
	display: inline-block;
}
.page__dog img {
	border-radius: 40px;
	margin: -310px 0px 0px 0px;
}
.page__items {
}
.page__item {
	display: inline-block;
	width: 237px;
}
.page__item:not(:last-child){
	margin: 0px 20px 0px 0px;
}

.page__image {
	display: inline-block;
}
.page__info {
	display: inline-block;
	vertical-align: top;
	padding: 0px 0px 0px 4px;
}
.page__title {
	font-weight: 900;
	font-size: 36px;
	line-height: 42px;
	color: #ffffff;
}
.page__subtitle {
	font-weight: 700;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 0.15px;
	color: #5d62b5;
}
